.board{
    outline: 2px solid;
}
.row{
    height: 30px;
}
.cell{
    width: 30px;
    height: 30px;
    outline: 1px solid;
    display: inline-block;
}
.snake-cell{
    background-color: #0dc036;
}
.food-cell{
    background-color: #003cff;
}
.food-cell-reverse{
    background-color: #ff0000;
}
.head-cell{
    background-color: #ffffff;
}